* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.header__wrapper {
    padding: 2rem;
}

.logo {
    background-image: url("images/logo.svg");
    height: 1.25rem;
    width: 6.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hero {
    background-image: url("images/hero-mobile.jpg");
    height: 15.625rem;
    width: auto;
}

.info__and__form__wrapper {
    text-align: center;
    padding: 0 2rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

section.info h1 {
    font-size: 2.5rem;
    line-height: 2.625rem;
    letter-spacing: 10.825397491455078px;
    text-transform: uppercase;
}

section.info h1.were {
    font-weight: 300;
    letter-spacing: 0.6875rem;
}

section.info h1.coming__soon {
    font-weight: 600;
}

section.info p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin-top: 1rem;
}

section.form input {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: left;
    padding: 0.5625rem 1.5rem;
    width: 100%;
    border-radius: 2rem;
    outline: none;
    border: 1px solid black;
    margin-top: 2rem;
}

footer p.attribution {
    display: none;
}