:root {
    /* COLORS */
   --textRed: hsla(0, 36%, 70%, 1);
   --textRedOP: hsla(0, 36%, 70%, 0.5);
   --darkGrayText: hsla(0, 7%, 24%, 1);
   --backgroundRed: hsl(0, 93%, 68%);
   --backgroundRedOP: hsla(0, 93%, 68%,0.3);
   
   /* GRADIENT */
   --mainDesktopBackground: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
   --buttonGradientBackground: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

/* HEADER */

.header__wrapper__one {
    padding: 2rem;
    display: block;
}

.header__wrapper__two {
    display: none;
}

.header__wrapper__one .logo {
    background-image: url("images/logo.svg");
    height: 1.25rem;
    width: 6.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* HERO */

.hero {
    background-image: url("images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15.625rem;
}

/* INFO */

.info__and__form__wrapper {
    text-align: center;
    padding: 0 2rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

section.info h1 {
    font-size: 2.5rem;
    line-height: 2.625rem;
    letter-spacing: 0.625rem;
    text-transform: uppercase;
    
}

section.info h1.were {
    font-weight: 300;
    letter-spacing: 0.6875rem;
    color: var(--textRed);
}

section.info h1.coming__soon {
    font-weight: 600;
    color: var(--darkGrayText);
}

section.info p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin-top: 1rem;
    color: var(--textRed);
    }


/* FORM */

form.form {
    position: relative;
}

form.form input {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: left;
    padding: 0.5625rem 1.5rem;
    width: 100%;
    border-radius: 2rem;
    outline: none;
    border: 1px solid var(--textRed);
    margin-top: 2rem;
}

form.form input::placeholder {
    color: var(--textRed);
}

button .submit__icon {
    width: 9px;
    height: 18px;
    background-image: url("images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 auto;
}

form.form button {
    border-radius: 2rem;
    position: absolute;
    bottom: 0;
    transform: translate(-100%, 0);
    height: 48px;
    width: 64px;
    border: none;
    background-image: var(--buttonGradientBackground);
    box-shadow: 0 1rem 0.8rem var(--textRedOP);
}

/* ATTRIBUTION */

footer p.attribution {
    display: none;
}

/* TABLET */

@media screen and (min-width: 480px) {
    main {
        width: 80%;
        max-width: 600px;
    }
}

/* DESKTOP */

@media screen and (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row-reverse;
        max-width: none; 
        width: 100%; 
    }

    /* HEADER */

    .header__wrapper__one {
        display: none;
    }

    .header__wrapper__two {
        display: block;
    }

    .header__wrapper__two .logo {
        background-image: url("images/logo.svg");
        height: 1.25rem;
        width: 6.25rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-bottom: 136px;
    }

    /* INFO */

    .info__and__form__wrapper {
        width: 60%;
        text-align: left;
        padding: 75px 220px 152px 165px;
        margin-top: 0;
        margin-bottom: 0;
        background-image: url("images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center */
    }


    .info {
        width: min-content;
    }

    .form {
        max-width: 23rem;
    }

    form.form button:hover {
        background-color: var(--backgroundRedOP);
        cursor: pointer;
        background-image: none;

    }

    /* HERO */

    .hero__wrapper {
        width: 40%;
    }

    .hero {
        background-image: url("images/hero-desktop.jpg");
        height: 800px;
    }

    section.info h1 {
        font-size: 4rem;
        font-weight: 600;
        line-height: 4.4375rem;
        letter-spacing: 1rem;
        text-align: left;


    }
    
}

